@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sarabun', sans-serif;
}
body{
    background: radial-gradient(circle, rgba(5, 128, 177, 0.657) 50%, 
    rgba(20, 157, 211, 0.87) 57%, rgba(109, 167, 190, 0.711) 72%);
}
.container{
    max-width: 960px;
    margin: 0 auto;
}

.navbar{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    padding: 1.1rem;    
}
nav{
    flex:1;
    text-align: right;
}
.navbar .logo img{
    width: 15.6rem;
    height: 8rem;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 3rem;
}
nav a{
    text-decoration: none;
    color: rgb(2, 2, 2);
    font-size: 1.5rem;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}
nav a:hover{
    color: rgb(66, 65, 65);
    border-radius: 1rem;
    background: rgb(244, 244, 244);
    box-shadow: 0.09rem -0.09rem 0.5rem rgb(138, 136, 136);
    padding: .6rem;
}
.section-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgb(2, 2, 2);

    border-bottom: 1px solid rgb(71, 70, 70);
    padding-bottom: 1rem;
}
.sec-r{
    display: block;
}
.sec-r a{
    color: #fff;
    margin-right: .5rem;
}
.sec-r select{
    background: rgba(255, 255, 255, 0.7);
    border-radius: .6rem;
    box-shadow: .2rem .2rem rgb(116, 115, 115);
    font-size: 1.2rem;
    outline: none;
    padding-left: 1rem;
    margin-right: 1rem;
}
.sec-r .search-btn{
    width: 2.6rem;
    height: 2.4rem;
    font-size: 1rem;
    padding: .2rem;
    border-radius: .7rem;
}
.section-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.6rem;
}
.sec-items{
    color: rgb(211, 210, 210);
    font-size: 0.8rem;
}
.sec-img-box{
    background: rgba(255, 255, 255, 0.7);
    border-radius: .7rem;
    box-shadow: .4rem .4rem rgb(116, 115, 115);
    padding: .2rem;
    height: 21rem;
    width: 25rem;
    display: table-cell; 
    vertical-align: middle;
    text-align: center;
}
.sec-img img{
    max-width: 100%;
    max-height: 20rem;
}
.sec-info{
    margin-top: .8rem;
}
.sec-info h3{
    margin: .5rem 0;
}
.sec-info p{
    color: rgb(148, 146, 146);
}
.buyitem{
    margin-top: .4rem;
    margin-bottom: .8rem;
    height: 2rem;
    width: 5.4rem;
    border-radius: 2rem;
    background: rgba(255, 255, 255, 0.7);
    font-weight: bolder;
}


footer{
    margin-top: 2rem;
    text-align: center;
}
.footer-grid{
    padding-top: 1rem;
    border-top: .15rem solid rgb(7, 7, 7);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.footer-items p{
    color: rgb(151, 150, 150);
    font-size: 14px;
    margin-top: .5rem;
}
.footer-items img{
    width: 100%;
}
.footer-img{
    position: relative;
}
.footer-img img{
    height: 10rem;
    border-radius: 2rem;
    filter: opacity(30%);
}
.footer-img a{
    color: rgb(245, 243, 243);
    text-decoration: none;
    text-shadow: 0.08rem -0.08rem 0.5rem rgb(71, 71, 71);
    font-size: 1.5rem;
    z-index: 10;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sec-info{
    margin-left: 0.5rem;
}
.sec-info a{
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(29, 28, 28);
    text-shadow: 0.04rem -0.04rem rgb(236, 236, 236);
}
.sec-info p{
    font-size: 1rem;
    color: rgb(49, 49, 49);
}


@media only screen and (max-width: 480px) {
    body {
        width: 440px; 
        margin: 0 auto
    }
    .container{
        max-width: 380px;
        margin: 0 auto;
    }
    /* navbar part*/
    /* navbar part*/
    /* navbar part*/
    nav{
        margin-top:1rem;
    }
    .navbar .logo img{
        text-align: center;
        width: 9rem;
        height: 4.5rem;
    }
    .navbar{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        display: flex;
        
    }
    nav ul li{
        margin-right: 1.4rem;
    }
    nav a{
        text-decoration: none;
        color: rgb(2, 2, 2);
        font-size: 1rem;
        border-radius: .7rem;
    }
    nav a:hover{
        font-size: 1rem;
        color: rgb(2, 2, 2);
        height: 1.2rem;
        background: rgba(240, 240, 240, 0.95);
        box-shadow: 0.09rem -0.09rem 0.5rem rgb(189, 188, 188);
    }
    /* navbar part*/
    /* navbar part*/
    /* navbar part*/


    .section-title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: rgb(2, 2, 2);
        border-bottom: 1px solid rgb(71, 70, 70);
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sec-l{
        margin: auto;
    }
    .sec-l h1{
        font-size: 1.5rem;
    }



    .sec{
        min-height: 59.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .title-group{
        margin-top: -7.5rem;
        width: 30rem;
        text-align: center;
        display: block;
    }
    .title-group img{
        border-radius: 1rem;
        border: 1px solid #000;
        box-shadow: 0.2rem -0.2rem 1rem #000;
        width: 70%;
        height: 80%;
        margin: auto;
    }
    .title-group p{
        border: .2rem;
        border-radius: 10rem;
        background: #ff523b;
        color: rgb(37, 37, 37);
        width: 9rem;
        height: 2.6rem;
        display: flex;
        transition: .3s;
        font-size: 1rem;
        margin-top: 1rem;
    }





    /* form part*/
    /* form part*/
    /* form part*/
    .form-container{
        background: rgba(255, 255, 255, 0.5);
        border-radius: 1rem;
        padding: .6rem;
        font-size: .8rem;
        height: 100%;
        width: 75%;
        margin-top: 2rem;
        overflow: hidden;
    }
    .form-group{
        margin-left: 0.1rem;
        margin-top: 0.5rem;
    }
    .form-group label{
        margin-left: 0.5rem;
        margin-right: 2rem;
    }
    .form-group .form-control{
        border-radius: 10px;
        width: 100%;
        height: 1rem;
        font-size: .5rem;
        padding-left: 0.8rem;
        display: block;
        margin-top: 0.2rem;
        outline: none;
    }
    #textarea{
        height:8rem;
    }
    .mark{
        font-size: .7rem;
        margin-top: 0.1rem;
        margin-left: .8rem;
        color: red;
    }
    .form-next{
        border-radius: 15px;
        padding: 0.2rem;
        width: 100%;
        height: 10%;
        margin-top: 4px;
        font-size: .8rem;
        background-color: #ff523b;
        transition: background 0.4s;
    }
    .form-next:hover{
        background: rgba(245, 147, 147, 0.6);
        box-shadow: 0.2rem -0.2rem 0.5rem rgb(41, 41, 41);
    }
    /* form part*/
    /* form part*/
    /* form part*/

    /* footer */
    /* footer */
    /* footer */
    footer{
        margin-top: 2rem;
        text-align: center;
    }
    .footer-grid{
        padding-top: 1rem;
        border-top: .15rem solid rgb(7, 7, 7);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
    }
    .footer-items img{
        width: 100%;
    }
    .footer-img{
        position: relative;
    }
    .footer-img img{
        height: 6rem;
        border-radius: 1.2rem;
        filter: opacity(30%);
    }
    .footer-img a{
        color: rgb(245, 243, 243);
        text-decoration: none;
        text-shadow: 0.08rem -0.08rem 0.5rem rgb(71, 71, 71);
        font-size: .7rem;
        z-index: 10;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* title section of this page*/
    .sec-r{
        display: block;
    }
    .sec-r select{
        background: rgba(255, 255, 255, 0.7);
        border-radius: .6rem;
        box-shadow: .2rem .2rem rgb(116, 115, 115);
        font-size: 1rem;
        outline: none;
    }
    .sec-r .search-btn{
        width: 2rem;
        height: 2rem;
        font-size: .9rem;
        padding: .2rem;
        border-radius: .5rem;
    }
    .section-grid{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.6rem;
    }
    .sec-items{
        color: rgb(211, 210, 210);
        font-size: 0.8rem;
    }
    .sec-img-box{
        background: rgba(255, 255, 255, 0.7);
        border-radius: .7rem;
        box-shadow: .4rem .4rem rgb(116, 115, 115);
        padding: .2rem;
        height: 21rem;
        width: 25rem;
        display: table-cell; 
        vertical-align: middle;
        text-align: center;
    }
    .sec-img img{
        max-width: 100%;
        max-height: 20rem;
    }
    .sec-info{
        margin-top: .8rem;
    }
    .sec-info h3{
        margin: .5rem 0;
    }
    .sec-info p{
        color: rgb(71, 71, 71);
    }
}
.res-sec{
    text-align: center;
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
}
.res-box{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    width: 55%;
    height: 20rem;
    font-size: 2rem;
    display: inline-block;
    padding-top: 8rem;
    color: rgb(51, 50, 50);
    box-shadow: 0.2rem -0.2rem 0.5rem rgb(41, 41, 41)
}
.res-box h1{
    font-size: 1.5rem;
}
a.disabled {
    color: rgb(150, 148, 148);
    pointer-events: none;
    cursor: default;
}